div.css-1offfwp{
    font-size: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600  
  }
  
  
  span.css-f341up{
    font-size: 24px;
    color: rgb(240, 0, 0);
    font-weight: 300
  }

  footer{
    visibility: hidden;
  }
